body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

.main {
    background-color: steelblue;
}

.section-welcome {
    flex-direction: column;
    text-align: center;
}
.welcome__title {
    margin: 0;
    text-align: center;
}
