.footer {
    background-color: #2c2930;
    padding: 40px 0;
    color: white;
    text-align: center;
}

.footer h4,
.footer p {
    margin: 0;
}

.footer__item {
    margin-bottom: 1.5rem;
}

.footer-icon-link {
    color: white;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    opacity: .75;
}

.footer-icon-link:hover {
    cursor: pointer;
}

.footer-4__item + .footer-4__item {
    margin-left: .25em;
}

@media (min-width: 800px) {

    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__item {
        margin: 0;
    }
}