*, *::before, *::after{ box-sizing: border-box; }

img {
    max-width: 100%;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 800px) {
    .row {
        display: flex;
    }
}