@import 'palette.scss';

/******************/
/* Common Styling */
/******************/

*, *::before, *::after {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
}

hr {
    border-color: $accent-color;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.content {
    flex-direction: column;
}

.link {
    color: $text-primary-color;
    text-decoration: none;
    word-wrap: break-word;
}

.link:hover,
.link:focus {
    opacity: .7;
}

/******************/
/* Header Styling */
/******************/

header {
    background-color: $dark-primary-color;

    padding: 1em 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: $accent-color;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 20px;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

 .hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.logo {
    height: 40px;
}

.nav__list {
    padding: 0;
    margin-bottom: 0;
}

.nav__item {
    list-style: none;
}

.nav__link {
    background: none;
    border: none;
    padding: 0;
    color: $text-secondary-color;
    font-weight: 900;
    text-transform: uppercase;
}

.nav__item .nav__link {
    font-size: 1.1rem;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .75;
}

.nav__link:hover {
    cursor: pointer;
}

/****************/
/* Body Styling */
/****************/

body{
    margin: 0;
    margin-top: 81px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: $text-primary-color;
}

.section {
    width: 100%;
    padding: 1em 2em;
}

.section-even {
    background: linear-gradient(180deg, $default-background-color, $dark-background-color);
    color: $text-primary-color;
}

.section-odd {
    background: linear-gradient(180deg, $dark-background-color, $default-background-color);
    color: $text-primary-color;
}

/*****************/
/* About Styling */
/*****************/

.about {
    padding: 0 1em;
}

.about__title {
    text-align: center;
    margin-bottom: 1em;
}

.fun-facts {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    align-items: flex-start;
}

.fact-card {
    position: relative;
    background: #fff;
    padding: .8em;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,.35);
    transition: all 1s;
}

.fact-card:hover {
    animation-direction: alternate;
    transform: scale(1.02);
    box-shadow: 6px 6px 13px 6px rgba(0,0,0,.35);
    transition: all 1s;
    
}

@keyframes rise {
    100% {
        transform: scale(1.01);
        box-shadow: 6px 6px 13px 6px rgba(0,0,0,.35);
    }
}

.fact-card :nth-child(3) {
    margin-top: .5em;
}

.fact_img {
    border-radius: 10px;
}

.fact_text {
    text-align: justify;
    line-height: 1.35em;
}

.fact_title {
    text-align: center;
    margin-bottom: .5em;
}



/******************/
/* Banner Styling */
/******************/

.banner {
    background: linear-gradient(180deg, $accent-color, $default-background-color);
    padding: 1em 0;
}

.banner__content {
    text-align: center
}

.banner-name {
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: .75rem;
    border-bottom: .1rem solid $divider-color;
}

.banner__grid-3 {
    padding: 10%;
}

.banner__img {
    border: 1px solid $default-primary-color;
    border-radius: 50%;
    
}

/*********************/
/* Education Styling */
/*********************/

.ed-title {
    text-align: center;
    border-bottom: .2rem double $accent-color;
    padding-bottom: .5rem;
}

/**********************/
/* Experience Styling */
/**********************/

.exp-title {
    text-align: center;
    border-bottom: .2rem double $accent-color;
    padding-bottom: .5rem;
}

.exp-details__list {
    margin-top: 0;
}

.exp-detail {
    margin-left: 1em;
}

/*****************/
/* Intro Styling */
/*****************/

.intro {
    text-align: center;
    justify-content: space-around;

}

.intro-content {
    flex-direction: column;
}

.intro__title {
    margin: 0;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: .1em solid $accent-color;
}

.intro__text {
    line-height: 1.5;
    text-align: left;
    margin-bottom: .8em;
}

/***************************/
/* Skills/Projects Styling */
/***************************/

.folio-group {
    text-align: center;
    width: 220px;
    border: .2em inset;
    border-radius: 1.5em;
}

.folio-group:hover {
    border: outset;
}

.folio-group + .folio-group {
    margin-top: 1em;
}

.folio-group__title {
    text-decoration: underline;
}

.folio-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.folio-section-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .5em;
}

.folio__title {
    text-align: center;
    border-bottom: .1em solid $accent-color;
}

/********************/
/* Projects Styling */
/********************/

.project {
    text-align: left;
    list-style-type: square;
    padding-left: 1.5em;
    padding-right: .5em;
}

.project-group {
    width: 250px;
}

/******************/
/* Footer Styling */
/******************/

.footer {
    background-color: $dark-primary-color;
    padding: 40px 0;
    color: white;
    text-align: center;
}

.footer h4,
.footer p {
    margin: 0;
}

.footer__item {
    margin-bottom: 1.5rem;
}

.footer-icon-link {
    color: white;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    opacity: .75;
}

.footer-icon-link:hover {
    cursor: pointer;
}

.footer-4__item + .footer-4__item {
    margin-left: .25em;
}

/******************/
/* @media queries */
/******************/

@media (min-width: 800px) {

    /******************/
    /* Common Styling */
    /******************/
    body {
        margin-top: 85px;
    }

    header {
        text-align: left;
    }

    .app {
        min-height: calc(100vh - 85px);
    }

    .container {
        width: 90%;
    }

    .grid {
        display: grid;
    }

    .row {
        display: flex;
    }

    /******************/
    /* Header Styling */
    /******************/
    .logo {
        height: 3.5em;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        position: relative;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: auto;
    }

    .nav__list {
        
        margin: 0;
    }

    .nav__item + .nav__item {
        margin-left: 1em;
    }

    /****************/
    /* Body Styling */
    /****************/
    .section {
        padding: 2em 0;
    }

    /******************/
    /* Banner Styling */
    /******************/
    .banner__content {
        text-align: left;
    }

    .banner__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "name name img";
    }

    .banner__grid-1 {
        grid-area: name;
    }

    .banner__grid-3 {
        padding: 0;
        grid-area: img;
    }



    /*****************/
    /* Intro Styling */
    /*****************/
    .intro__title {
        border-bottom: 0;
        border-right: .1em solid $accent-color;
        padding-right: .5em;
        margin-right: .5em;
    }

    /******************/
    /* Footer Styling */
    /******************/
    .footer {
        justify-self: stretch;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .footer-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__item {
        margin: 0;
    }

    /***************************/
    /* Skills/Projects Styling */
    /***************************/
    .folio-group + .folio-group { 
        margin: 0;
    }

    .folio-section-row{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }
}