*, *::before, *::after {
    box-sizing: border-box;
}

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
*/

header {
    background-color: steelblue;
    opacity: 80%;
    padding: 1em 0;
    text-align: center;
}

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #072A2D;
    color: white;
    transition: opacity 250ms ease;
    
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

 .hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    font-weight: 900;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.logo {
    height: 2.5em;
}

.nav__list {
    padding: 0;
    margin-bottom: 0;
}
.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #ebe9e9;
    font-weight: 900;
}

.nav__link:hover,
.nav__link:focus {
    opacity: .75;
}

.nav__link:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    header {
        text-align: left;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        position: relative;
    }

    .nav__list {
        justify-content: flex-end;
    }

    .nav__item + .nav__item {
        margin-left: 1em;
    }
}